---
title: Graves
layout: default
custom-javascript:
    - "/assets/js/list.js"
---

<div id="graveList">
	<input type="search" class="search" placeholder="Search here" />
	Sort by:
	<button class="sort" data-sort="name">Name</button>
	<hr />
	<ul class="list">
		{% for grave in site.data.graves %}
			<li>
				<span class="name">
					<b class="surname">{{ grave.surname }}</b>, <span class="forenames">{{ grave.forenames }}</span>
				</span> died {{ grave.date_of_death }} {% if grave.age %}at the age of {{ grave.age }}{% endif %}
			</li>
		{% endfor %}
	</ul>
	<ul class="pagination"></ul>
</div>
