---
title: People
layout: default
custom-javascript:
    - "/assets/js/peopleList.js"
---

<div id="peopleList" class="list">
    <input type="search" class="search" placeholder="Search here" />
    <table>
        <thead>
            <tr>
                <th style="width: 15%">Grave ID</th>
                <th>Name</th>
                <th>Date of Death</th>
            </tr>
        </thead>
        <tbody class="list">
            {% for person in site.data.people %}
                <tr>
                    <td>
                        {% assign grave_ids = person.grave_id | split: ", " %}
                        {% for grave_id in grave_ids %}
                            <a class="graveID" href="graves/{{ grave_id | downcase }}.html">{{ grave_id }}</a>
                        {% endfor %}
                    </td>
                    <td>
                        <b class="surname">{{ person.surname }}</b>, <span class="forenames">{{ person.forenames }}</span>
                    </td>
                    <td>
                        {% if person.date_of_death %}
                            <span class="date">{{ person.date_of_death }}</span>{% if person.age %} at the age of <span class="age">{{ person.age }}</span>{% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
