.pagination li {
  display:inline-block;
  padding:5px;
}

.list {

  input.search {
    display: block;
    margin: 1em auto;
    border: 5px solid grey;
    padding: 15px;
    background: #555551;
    color: white;
    font-size: 1em;
    text-align: center;
  }

  table {
    width: 100%;
    table-layout: fixed;
  }
}
