---
---

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Sans+Pro&display=swap');

@import 'list';
@import 'navigation';

.main {
  max-width: 800px;
  margin: 0 auto;
}

.header {
  text-align: center;
}

.header h1 {
  margin: 0.1em 0;
  font-family: 'Libre Baskerville', serif;
}

body {
  font-size: 1.2em;
  font-family: 'Source Sans Pro', sans-serif;
}

* {
  box-sizing: border-box;
}