---
---

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Sans+Pro&display=swap');

@import 'list';
@import 'navigation';

.header {
  text-align: center;
  h1 {
    margin: 0.5em 0;
    font-family: 'Libre Baskerville', serif;
  }
}

html, body {
  height: 100%;
}

body {
  font-size: 1.2em;
  font-family: 'Source Sans Pro', sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

a {
  color: #6666cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #20201f;
    color: #e6e9e9;
  }
  img.map {
    filter: invert(100%);
  }
}
