---
layout: default
---
<h2 style="margin-bottom: 0;">{{ page.id }}</h2>
<h4 style="font-weight:lighter; margin-top:0;">{{ page.type }}</h4>
{% if page.text %}
    <h3>Inscription</h3>
    <blockquote style="text-align:center;">{{ page.text }}</blockquote>
{% endif %}
{% if page.notes %}
    <h3>Notes</h3>
    <p>
        <i>
            {{ page.notes }}
        </i>
    </p>
{% endif %}
{% assign grave_id_one = page.id | append: ',' %}
{% assign grave_id_two = page.id | prepend: ', ' %}
{% assign people = site.data.people | where_exp: "grave","grave.grave_id contains grave_id_one or grave.grave_id contains grave_id_two or grave.grave_id == page.id" %}
{% if people.size > 0 %}
    <h3>People</h3>
    <ul>
        {% for person in people %}
            <li>
                <b>{{ person.surname }}</b>, {{ person.forenames }}
                {% if person.date_of_death %}
                    died {{ person.date_of_death }}{% if person.age %} at the age of {{ person.age }}{% endif %}
                {% endif %} 
            </li>
        {% endfor %}
    </ul>
{% endif %}
