---
layout: default
---
<h1>{{ page.id }}</h1>
{% if page.text %}
    <h2>Inscription:</h2>
    <blockquote style="text-align:center;">{{ page.text }}</blockquote>
{% endif %}
{% if page.notes %}
    <h2>Notes:</h2>
    <p>
        <i>
            {{ page.notes }}
        </i>
    </p>
{% endif %}
{% assign people = site.data.people | where_exp:"grave","grave.grave_id == page.id" %}
{% if people.size > 0 %}
    <h2>People</h2>
    <ul>
        {% for person in people %}
            <li>
                <b>{{ person.surname }}</b>, {{ person.forenames }}
                {% if person.date_of_death %}
                    died {{ person.date_of_death }}{% if person.age %} at the age of {{ person.age }}{% endif %}
                {% endif %} 
            </li>
        {% endfor %}
    </ul>
{% endif %}
